/* Base Styles */

@tailwind base;
@tailwind components;
@tailwind utilities;



header a:hover {
  opacity: 0.8;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Navigation Menu */
nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00bcd4; /* Cyan-400 */
}

/* app.css */



/* Mobile Menu */
.md\:hidden {
  display: none;
}

@media (max-width: 768px) {
  .md\:hidden {
    display: block;
  }
  
  nav {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
  }

  nav a {
    display: block;
    padding: 0.5rem 0;
    border-bottom: 1px solid #2c2c2c;
  }

  nav a:last-child {
    border-bottom: none;
  }

  .hidden {
    display: none;
  }

  .logo{
    display: none;
  }
  .text-white{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
  }
  
}
.desktop-header{
  align-items: center;
  justify-content: space-around;
  gap: 4em;
}

/* Font and Text */
.font-sans {
  font-family: 'Inter', sans-serif;
}
